<div class="container">
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <!--<img src="assets/self-image.jpg" width="256" height="300" />-->
        <p>
          Hello, my name is Xiaoyang Wei. I have completed my master’s degree at
          Washington University in St Louis, majoring in management information
          systems. Based on my past development experiences, Java is my major
          programming language, and I also have some experience in C++, Python,
          JavaScript, Shell Scripting, Golang, and React. The past project
          experiences in web application, mobile application, and big-data
          process application also strengthened my confidence to be a software
          engineer. I’d like to introduce that I had launched a full-stack
          project all by myself, starting with designing and implementing a web
          application where users can search events and get recommendations of
          those events. I mainly focus on improving the user-friendly level and
          accuracy of the recommendation system based on an improved
          content-based recommendation algorithm. My internship in Tencent
          before in the team of Tencent Cloud, also helped me build very robust
          problem-solving and coding skills. I worked in an agile team and coded
          Python and Shell scripting to handle data processing and uploaded
          processed data onto Tencent cloud and ElasticSearch. For now, I am
          looking for a software engineer position in your company where I can
          devote my utmost enthusiasm and knowledge into creating values. It’s
          my pleasure to be here and I am very appreciative for giving me this
          opportunity. Hope we can make a good match.
        </p>
      </div>
    </div>
  </div>
</div>
